<template name="main_tabs">
  {{#if isAndroid}}
    {{#ionTabs style="android" class="tabs-positive tabs-icon-top"}}
      {{> ionTab title="History" path="history" icon="android-list"}}
      {{> ionTab title="Camera" path="camera" class="js-camera" icon="android-camera"}}
      {{> ionTab title="Results" path="results" icon="android-gear"}}
    {{/ionTabs}}
  {{else}}
    {{#ionTabs style="ios" class="tabs-positive tabs-icon-top"}}
      {{> ionTab title="History" path="history" iconOn="ios-list" iconOff="ios-list-outline"}}
      {{> ionTab title="Camera" path="camera" class="js-camera" iconOn="ios-camera" iconOff="ios-camera-outline"}}
      {{> ionTab title="Results" path="results" iconOn="ios-gear" iconOff="ios-gear-outline"}}
    {{/ionTabs}}
  {{/if}}
</template>